<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>dolyame</name>
	<displayName><![CDATA[Dolyame]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Dolyame payment by Tinkoff]]></description>
	<author><![CDATA[r_d]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
